<section class="hero column">
  <div>
    <h1>Shan Chen</h1>
    <p class="first-line">
      Manual and Automation Tester
      <span class="commented-code">//Python + Selenium</span>
    </p>
    <p>
      Ready to <span class ="line-through">code </span> protect and solve Software Product's Problems
    </p>
    <div id="primary-links">
      <a href="#" class="button">Experience</a>
      <a href="#" class="button">Contact</a>
    </div>
  </div>
  <!-- original size: 512x640 -->
  <div><img src="assets/img/hero-woman.jpg" alt="" /></div>
</section>
